# 🔐 Environment variables
.env
.env.*
*.env

# 📦 Virtual environments
venv/
env/
ENV/
.venv/

# 🗄️ Database (SQLite)
db.sqlite3
db.sqlite3-journal

# 🧠 Python cache
__pycache__/
*.pyc
*.pyo

# 📁 Media & static files
media/
staticfiles/

# 🧾 Logs
*.log

# ⚙️ IDE files
.vscode/
.idea/

# 🚀 Vercel
.vercel/